<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ name }}</title>
</head>
<style>
    body {background-color: #1b1b1b}
    h1 {
        font-family: Arial;
        color: white;
        width: fit-content;
        padding: 5px 10px 5px 10px;
        }

    h1:hover {
        color: khaki;
        }

    p {
        color: white;
        width: 70%
        }
</style>
<body>
    <h1>Hello, {{ name }}!</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>
    <p>
        Sed aliquet egestas neque nec cursus. Quisque vehicula dui gravida congue facilisis. Morbi non tortor nibh.
    </p>
    <p>
        Nam id lacus imperdiet, scelerisque urna eu, sodales sapien.
    </p>
</body>
</html>